.main {
  font-family: "Montserrat";
}

.primary {
  background-color: #dad2d2;
  color: #433945;
}

.primary h1 {
  font-family: "Fira Sans";
}

.secondary {
  background-color: #8b5e93;
  color: #f7f7f3;
}

.navbar {
  background-color: #db7792 !important;
}

.navbar a:visited {
  color: #f7f7f3;
}

.navbar .link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.dropdownmenu {
  background-color: #db7792 !important;
  color: #f7f7f3;
  border-radius: 0px;
  margin-top: 8px;
  z-index: 1;
}

.navexpandicon {
  display : flex;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
}

.navexpandicon:hover {
  color: #ffffff;
}

.dropdownitem:hover {
  background-color: #d7a299 !important;
}

.link {
  color: #f7f7f3;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.link:hover {
  color: #344b67;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.focusbox {
  border-radius: 25px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 56%);
  border-collapse: separate;
  overflow: hidden;
  margin: auto;
}

.introbg {
  background-color: #93919e;
  background-image: url("../public/images/Scene.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.introtitle {
  margin-top: -0.5rem;
  margin-bottom: -3rem;
  text-align: right;
}

.portrait {
  border-radius: 50%;
  padding-left: 1.5rem;
  position: relative;
  border: 5px !important; 
  border-style: solid !important ;
  align-self: right;
}

.portraitdiv {
  margin-top: -1rem;
  margin-bottom: -5rem;
}

.aboutmebtn {
  background-color: #93919e !important;
  color: #f7f7f3 !important;
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.aboutmebtn:hover {
  background-color: #604d64 !important;
}

.contactmebtn {
  background-color: #d7a299 !important;
  color: #f7f7f3 !important;
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.contactmebtn:hover {
  background-color: #db7792 !important;
}

.readmorebtn {
  background-color: #d7a299 !important;
  border: none;
  color: #f7f7f3 !important;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.readmorebtn:hover {
  background-color: #db7792 !important;
}


.purplebg {
  background-color: #604d64;
  color: #f7f7f3;
}

.aboutmebg {
  min-height: 350px;
  margin-bottom: -200px;
  overflow: hidden;
  display: block;
  background-image: url("../public/images/AbstractGradientBackground.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #433945;
}

.aboutmebg h1 {
  font-family: "Fira Sans";
}

.contactbg {
  min-height: 350px;
  margin-bottom: -200px;
  overflow: hidden;
  display: block;
  background-image: url("../public/images/AbstractPaintBackground.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #f7f7f3;
}

.contactbg h1 {
  font-family: "Fira Sans";
}

.servicescard {
  box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
  background-color: #f7f7f3;
  border-radius: 5px;
  color: #2c48a4;
}

.projects {
  background-color: #f7f7f3;
  color: #604d64;
}

.projectstitle {
  color: #433945;
}

.cardbody {
  text-align: center;
  color: #604d64;
}

.cardtitle {
  font-family: Telex;
  text-align: center;
  color: #433945;
}

.cardimg {
  background-color: #db7792;
  padding-top: 75%;
  height: 0;
  position: relative;
  object-fit: cover;
}

.cardfill {
  border-radius: 6px;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 56%);
  background-color: #db7792;
  display: block;
  overflow: hidden;
}

.title {
  font-family: "Fira Sans";
  text-align: center;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fillwidth {
  width: 100%; 
  max-width: 100%;
}

.fillheight {
  height: 100%; 
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centerh {
  display: flex;
 justify-content: center;
}

.centerv {
  display: flex;
  align-items: center;
}

.aboutmeicon {
  max-width: 50px;
}

.imageGrid {
  column-count: 3; /* Number of columns */
  column-gap: 16px; /* Horizontal gap between columns */
}

.imageGrid .imageCell {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px; /* Vertical gap between images */
}

.imageGrid img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Maintain aspect ratio */
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightboxContainer {
  position: relative; 
}

.navigationButton {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 5;
  margin: 0 100px;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.navigationButton.back {
  left: 0;
  animation-name: arrowAnimationReverse;
}

.navigationButton.next {
  right: 0;
  animation-name: arrowAnimation;
}

@keyframes arrowAnimation {
  0%, 100% {
    transform: translateY(-50%) translateX(0); /* Initial position */
  }
  25% {
    transform: translateY(-50%) translateX(10px); /* Move towards the center */
  }
  50% {
    transform: translateY(-50%) translateX(0); /* Move back */
  }
}

@keyframes arrowAnimationReverse {
  0%, 100% {
    transform: translateY(-50%) translateX(0); /* Initial position */
  }
  25% {
    transform: translateY(-50%) translateX(-10px); /* Move towards the center */
  }
  50% {
    transform: translateY(-50%) translateX(0); /* Move back */
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .link.icon {
  float: right;
  display: block;
}

.navbarinline {
  flex-direction: row !important;
}

.logo h1 {
  /* Styles for the logo */
}

.menuToggle {
  display: none;
  /* Hide by default */
  cursor: pointer;
}

.menu {
  /* Styles for the full menu */
}

.open {
  /* Styles for when the menu is open */
}

.navbarTogglerIcon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Media query to show hamburger menu on smaller screens */
@media screen and (max-width: 768px) {
  .menuToggle {
      display: block;
  }

  .menu {
      display: none;
      /* Hide by default on small screens */
  }

  .open {
      display: block;
      /* Show when menu is open */
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.clickableImage {
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  /* Style as needed, e.g., add top, right, left properties */
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}

@media (min-width: 0px) {
  .introbg {
    padding-top: 50px;
    padding-bottom: 26px;
  }

  .servicescard {
    margin-top: 2.5rem !important;
  }

  .cardfill {
    width: 80%; 
    margin: -30px auto auto !important;
    padding: 0px;
  }

  .navbarinline {
    flex-direction: column !important;
  }

  .dropdownmenuopen {
    position: relative;
  }

  .dropdownmenuclosed {
    display: none;
  }

  .menuclosed {
    display: none;
  }

  .menuopen {
    display: block;
  }

  .navexpandicon {
    display: block;
  }

  .sociallink {
    display: none;
  }
}

@media (min-width: 576px) {
  .introbg {
    padding-top: 70px;
    padding-bottom: 26px;
  }

  .servicescard {
    margin-top: inherit !important;
  }

  .focusbox {
  overflow: hidden;
  margin: auto;
  }

  .constraincenter {
    max-width: auto;
  }

  .cardfill{
    width: 33%;
    margin: auto !important;
  }

  .cardtext {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  /*.navbar .link {
    display: none;
  }*/

  .navbar .link.icon {
    float: right;
    display: block;
  }

  .navbarinline {
    flex-direction: row !important;
  }

  .dropdownmenuopen {
    position: fixed;
    display: block;
  }

  .dropdownmenuclosed {
    display: none;
  }

  .menuclosed {
    display: block;
  }

  .menuopen {
    display: block;
  }

  .navexpandicon {
    display: none;
  }

  .sociallink {
    display: none;
  }
}

@media (min-width: 992px) {
  .introbg {
    padding-top: 150px;
    padding-bottom: 126px;
  }

  .constraincenter {
    max-width: 1200px;
    margin: auto;
  }

  .cardfill {
    width: 80% !important; 
    margin: -30px auto auto !important;
  }

  .cardtext {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .navbar .link {
    display: block;
  }

  .navbarinline {
    flex-direction: row !important;
  }

  .dropdownmenuopen {
    position: fixed;
  }

  .menuclosed {
    display: block;
  }

  .menuopen {
    display: block;
  }

  .navexpandicon {
    display: none;
  }

  .sociallink {
    display: none;
  }
}

@media (min-width: 1200px) {
  .sociallink {
    display: contents;
  }
}
