.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .link.icon {
    float: right;
    display: block;
}

.navbarinline {
    flex-direction: row !important;
}

.logo h1 {
    /* Styles for the logo */
}

.menuToggle {
    display: none;
    /* Hide by default */
    cursor: pointer;
}

.menu {
    /* Styles for the full menu */
}

.open {
    /* Styles for when the menu is open */
}

/* Media query to show hamburger menu on smaller screens */
@media screen and (max-width: 768px) {
    .menuToggle {
        display: block;
    }

    .menu {
        display: none;
        /* Hide by default on small screens */
    }

    .open {
        display: block;
        /* Show when menu is open */
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  