.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #db7792 !important;
}

.navbar a:visited {
    color: #f7f7f3;
}

.navbar .link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navbar .link.icon {
    float: right;
    display: block;
}

.navbarinline {
    flex-direction: row !important;
}

.logo h1 {
    /* Styles for the logo */
}

.menuToggle {
    display: none;
    cursor: pointer;
}

.menu {
    /* Styles for the full menu */
}

.open {
    /* Styles for when the menu is open */
}

.navbarTogglerIcon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


@media screen and (max-width: 996px) {
    .navbarinline {
        flex-direction: column !important;
    }

    .navToggler {
        display: block;
    }
    
    .menuToggle {
        display: block;
    }

    .menu {
        display: none;
    }

    .open {
        display: block;
    }
}
